.div {
    background-color: #0f0f0f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 210px;
}

.background {
    background-color: #0f0f0f;
    margin: 0px;

    h1 {
        color: #FFFFFF;
        margin: 30px 0px 40px;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; 
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

// .releaseNote{
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: column;
//     border-radius: 12px;
//     background-color: var(--Visual-primaria-ativo, #e9ff1a);
//     align-self: stretch;
//     display: flex;
//     gap: 10px;
//     padding: 3px 21px;
// }

.tooltip {
    color: #ECEDEE;
    background-color: #222;
    font-family: Montserrat; 
}

@media (max-width: 991px) {
    .div {
        padding: 0 25px;
    }
}